@font-face {
  font-family: "iconfont"; /* Project id 4165477 */
  src: url('iconfont.woff2?t=1689239479411') format('woff2'),
       url('iconfont.woff?t=1689239479411') format('woff'),
       url('iconfont.ttf?t=1689239479411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weather:before {
  content: "\e603";
}

.icon-weather_qing-copy:before {
  content: "\e604";
}

